.bubble-filter {
  margin: 1rem;
  padding: 0rem;
}

.bubble-filter-item {
  margin: 0rem 0rem;
  padding: var(--about-sec-skills-filter-padding-x)
    var(--about-sec-skills-filter-padding-y);
  margin-right: var(--about-sec-skills-filter-spacing-x);

  font-size: var(--about-sec-skills-filter-name-font-size);
  text-transform: capitalize;

  background-color: var(--about-sec-skills-filter-bg-color);
  border: 2px solid var(--about-sec-skills-filter-border-color);

  /* background-color: #2a2e35; */
  /* border: 2px solid #454e56; */

  color: white;

  border-radius: var(--about-sec-skills-filter-border-radius);
  cursor: pointer;
}

.bubble-filter-item:hover {
  border: 2px solid var(--about-sec-skills-filter-border-hover-color);
  background-color: var(--about-sec-skills-filter-bg-color);
}

.filter-active{
  border: 2px solid var(--about-sec-skills-filter-border-hover-color);
  background-color: var(--about-sec-skills-filter-bg-color);
}
