.skills-sec{
    margin: 0rem;
    padding: 0rem;

}

.skills-tittle{
    margin: 0rem;
    padding: 0rem;

    margin-bottom: var(--sections-title-bottom-spacing);

    font-size: var( --sections-title-font-size );
    color: var( --sections-title-font-color );
    text-transform: uppercase;
}

.skills-bubble-filter{
    margin: 0rem;
    padding: 0rem;

    margin-bottom: var(--about-sec-skills-filter-bottom-spacing);
}