.contact-bar-layout {
  margin: var(--home-sec-icon-margin-layout);
  padding: 0rem;
}

.contact-bar-icon {
  /* padding: 0rem; */
  margin: 0rem 0rem;
  padding: var(--home-sec-icons-padding-y) var(--home-sec-icons-padding-x);

  width: var(--home-sec-icon-size);
  height: auto;

  fill: var(--home-sec-icons-color);
  
}

.contact-bar-icon:hover {
  fill: var(--home-sec-icons-hover-color);
}

.contact-bar-action-icon {
  margin: 0rem 0rem;
  padding: var(--home-sec-icons-padding-y) var(--home-sec-icons-padding-x);
  
  
  width: var(--home-sec-icon-size);
  height: auto;

  fill: var(--home-sec-icons-color);
}

.contact-bar-action-icon:hover {
  fill: var(--home-sec-icons-hover-color);
}
