.about-sec {
  padding: var(--about-sec-y-offset) var(--about-sec-x-offset);
}

.about-sec-content-layout-presentation {
  padding: var(--about-sec-presentation-container-y-offset)
    var(--about-sec-presentation-container-x-offset);
}

.about-sec-content-layout-experience {
  padding: var(--about-sec-experience-container-y-offset)
    var(--about-sec-experience-container-x-offset);
}

.about-sec-content-layout-skills {
  padding: var(--about-sec-skill-container-y-offset)
    var(--about-sec-skill-container-x-offset);
}
